html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font, 'Arial', sans-serif;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
}
